<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pradeep_40</title>
</head>
<body>
    <header class="header">
        <nav class="bar">
            <a href="0"><i class='bx bxs-home'></i>Home</a>
            <a href="0"><i class='bx bxs-shopping-bags'></i>Products</a>
            <a href="0"><i class='bx bxs-cart-alt'></i>Orders</a>
            <a href="0"><i class='bx bx-support'></i>Contact us</a>
        </nav>
    </header>
     <div class="container">
        <div class="content">
            <h1 class="logo"><i class='bx bx-shopping-bag' ></i>E-Mart</h1>

            <div class="word">
                <h1>Welcome!<br><span>To the universe of your choice</span></h1>
                <br><p>The trend of online shopping has increased 
                    in recent times with the increase of e-commerce and 
                    digital technology. With just a single click, you can 
                    shop for everything by sitting at your home as per your 
                    choice, convenience and budget.</p>
            </div>
            <div class="social">
                <a href="mailto:jpradeepavt@gmail.com"><i class='bx bxl-gmail'></i></a>
                <a href="https://wa.me/7871053713"><i class='bx bxl-whatsapp-square'></i></a>
                <a href="http://instagram.com/_u/pradeep_jaganathan/"><i class='bx bxl-instagram-alt'></i></a>
                <a href="tel:+917871053713"><i class='bx bxs-phone-call' ></i></a>
            </div>
        </div>
            <div class="login">
                <div class="form-box">
                    <form action="/submit" method="post">
                        <h2>Sign In</h2>

                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-user-circle'></i></span>
                            <input type="email" placeholder="Email" name="mail">
                            
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-lock'></i></span>
                            <input type="password" placeholder="Password" name="pwd">
                            
                        </div>
                        <div class="remember">
                            <label><input type="checkbox">Remember me</label>
                            <a href="#">Forgot Password</a>
                        </div>
                        <button type="submit" value="submit" class="btn" a href="login.html">Sign In</button>

                        <div class="login-reg">
                            <p>Don't have an account?<a href="#" class="reg"><br>Sign up</a></p>

                        </div>
                    </form>
                </div>
                <script src="static/js/script.js"></script>
            </div>
    </div>
   
</body>
</html>